.rollDialog div.dialog-buttons button {
    background:RGB(76 74 90) !important;
    opacity: 100;
}

.extended-combat-hud .weapon-sets .weapon-set > .set.set-primary:before,
.extended-combat-hud .weapon-sets .weapon-set > .set.set-primary:after {
    border: 0px;
}

.extended-combat-hud .weapon-sets .weapon-set.active:before,
.extended-combat-hud .weapon-sets .weapon-set.active:after,
.extended-combat-hud .weapon-sets .weapon-set:hover:before {
    top: 0%;
}

.extended-combat-hud .weapon-sets .weapon-set {
    cursor: pointer;
}

.extended-combat-hud .portrait-stat-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    position: absolute;

    input,
    select {
        color: var(--input-text-color) !important;
    }
}

.extended-combat-hud .portrait-hud .portrait-stat-side--center {
    grid-column: 1 / 3;
}

.extended-combat-hud .portrait-hud .portrait-stat-block-lr {
    line-height: 33px;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;

    div.data {
        width: 92px;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;

        input {
            text-align: center;
            padding: 0px;

            &.flux,
            &.impregnation,
            &.contrecoups {
                grid-column: 1 / 4;
            }
        }

        span {
            text-align: center;

            &.cdf,
            &.egide {
                grid-column: 1 / 4;
            }
        }

        &.full {
            grid-template-columns: 1fr;
        }
    }
}

.extended-combat-hud .portrait-hud,
.extended-combat-hud .ability-menu {
    min-width: 420px;
}


.extended-combat-hud .action-hud .features-accordion .capacity-element {
    filter:invert(1);
}

.extended-combat-hud .action-hud .capacity-element {
    background-size:contain;
    max-height: 100px;

    &.inactivate {
        filter: grayscale(100%);

        &:hover {
            filter:invert(1);
        }
    }
}

.extended-combat-hud .action-hud .action-element {
    &.inactivate {
        filter: grayscale(100%);

        &:hover {
            filter:invert(1);
        }
    }
}

.extended-combat-hud .action-hud .feature-element.center .feature-element-title {
    text-align: center;
}

.extended-combat-hud .action-hud .module-element {
    filter:invert(1);

    &.inactivate {
        &:hover {
            filter:invert(1);
        }
    }
}

.extended-combat-hud .portrait-hud .player-buttons {
    right: 0px;
    top: calc(-50px - 4rem - 37px);
    flex-wrap: wrap;
    max-width: 100px;

    .player-button[data-tooltip="Minimize"] {
        width: 100%;
        margin-top: 1px;
    }
}

div.ech-tooltip {

    div.ech-tooltip-body {

        i {
            position: absolute;
            top: 5px;
        }

        .ech-tooltip-properties .ech-tooltip-badge:first-of-type {
            background-color: var(--ech-buttons-base-background) !important;
        }
    }
}

dialog.dialog.knightAsk {
    div.dialog-content {
        label {
            span {
                font-variant: small-caps;
                font-size: 15px;
            }

            &.number {
                display: grid;
                grid-template-columns: 1fr 50px;
                align-items: center;

                input {
                    text-align: center;
                }
            }

            &.select {
                display: grid;
                grid-template-columns: 1fr 100px;
                align-items: center;

                input {
                    text-align: center;
                }
            }
        }
    }

    &.largeSelect {
        div.dialog-content {
            label {
                &.select {
                    grid-template-columns: 1fr 200px;
                }
            }
        }
    }
}

div.knight.rollDialog.ech-highjack-window {
    max-height: 600px !important;

    header {
        padding:1rem 0.5rem !important;

        a.popout-module-button {
            font-size: 14px !important;
            margin-right: 18px !important;
        }
    }
}

div.extended-combat-hud {
    div.ability-menu {
        li.ability-title {
            span {
                text-align: center;
                grid-column: 1 / 9;

                &::empty {
                    display:none;
                }
            }
        }
    }
}